{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Student ID CARD</title>
  </head>
  <body>

    <div class="container">
      <div class="col-sm-12" style="padding-top:10px; text-align:center; width:100%; white-space:nowrap;">
        <img src="{% static 'pages/school_id_header.png' %} " width="100%" height="auto">
       </div>
     
    <table class="table table" style="white-space:nowrap; width:100%; ">
      <thead>
        <tr>
          <td class="bg-info p-3 mb-2 text-white " scope="col" style=" width:100px;" >Student ID: <span style="font-size:20px; text-align:center;"><strong> {{my_idcard.user.username}}</strong></span></td>
          <td scope="col" style="width:500px;" class="bg-info text-white "> <span>STUDENT DETAIL INFORMATION </span></td>
         
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <div class="profile-picture profile-picture-lg bg-gradient bg-primary mb-4">
          <td class="bg-transparent text-white " scope="row"  style="text-align:center;"><img src="{{my_idcard.user.studentdetail.user.profile.image.url}}" width="200px" height="200px" style="border-radius:10% " ></td></div>
          <td  scope="row" style="text-align:left;"><h4>{{my_idcard.user.studentdetail.first_name}} {{my_idcard.user.studentdetail.middle_name}} {{my_idcard.user.studentdetail.last_name}} | Badge: {{my_idcard.user.studentdetail.badge}}</h4><br>
            <span style="font-size:18px;">Current Class: <span style="color:rgb(0, 183, 255);"><strong>{{my_idcard.user.studentdetail.current_class}}</strong></span></span><br>
            <span>Class Group: {{my_idcard.user.studentdetail.class_group}}</span><br>
            <span>Student Type: {{my_idcard.user.studentdetail.student_type}}</span><br>
            <span>Class Teacher: {{my_idcard.user.studentdetail.class_teacher}}</span></td>
          
          
        </tr>
        <tr>
          <td class="bg-info p-3 mb-2 text-white" scope="row" ">Student Since: {{my_idcard.user.studentdetail.date_admitted}}</td>
          <td class="bg-info p-1 mb-1 text-white" colspan="">Emergency Contact: <span style="font-size:20px; text-align:center;"><strong>{{my_idcard.user.studentdetail.guardian_phone}}</strong></span></td>
         
          </tr>
        
      </tbody>
    </table>
    <div style="padding-top:10px; text-align:center;"><h3>---------------------------------------</h3></div>
   
    </div>
    <div class=" col-sm-8" style="margin: 0 auto; text-align:center;">
    <table class="table table-noborder">
      <thead>
        <tr>
          <th scope="col">Authorized by the School</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>Mark<br>
        <span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque itaque, 
            inventore ratione, consequuntur aspernatur iusto reprehenderit omnis, eaque 
            sequi placeat tenetur labore esse nam delectus quo id illum! Reprehenderit, neque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque itaque, 
                inventore ratione, consequuntur aspernatur iusto reprehenderit omnis, eaque 
                sequi placeat tenetur labore esse nam delectus quo id illum! Reprehenderit, neque.</p></span>
                <img src="{% static 'pages/qr_code.png' %}" width="100px" height="100px"></td>
          
        </tr>
       
      </tbody>
    </table>
  </div>
  <div class="col-sm-10 " style="padding-top:20px; margin: 0 auto;">
    
    <img src="barcode.png" width="100%" height="60">

    </div>
 
  </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>