{% extends 'portal/portal-home.html'%}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}<title>SchoollyEdTech | Register New Department </title>{% endblock title %}

{% block content_body%}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Register Department</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-10 col-xxl-10">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Department</h4>
                    </div>
                    <div class="card-body">
                        <div id="smartwizard" class="form-wizard order-create">

                            {% if messages %}
                            {% for message in messages %}
                            <div class ="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor%}
                            {% endif%}
                            <div class="tab-content">
                                <!-- <div id="wizard_Service" class="tab-pane" role="tabpanel"> -->
                                    <div class="row">
                                        <div class="col-lg-6 mb-2">
                                            <div class="mb-3">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                <label class="text-label form-label">Department (e.g; science, art...)*</label>
                                                <input type="text" name="name" maxlength="100" required id="id_department_id" class="form-control" placeholder="Department Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="mb-3">
                                                <label class="text-label form-label">Description*</label>
                                                <input type="text" name="description" maxlength="250" required id="id_description" class="form-control" placeholder="Department Description">
                                            </div>
                                        </div>
                                       
                                                <!-- <input type="text" name="phoneNumber" class="form-control" placeholder="Other Info" required> -->
                                            </div>
                                        </div>
                                        
                                      
                                    <div class="col-12">
                                        <button type="submit" name="" value="Submit" class="btn btn-primary mb-2">Add New Department</button>
                                    </div>
                                </form>
                                <hr>
                                </div>
                                                                        
                                    </div>
                                </div>                                                                                                    
                                                                       
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                              


{% endblock content_body %}
{%block scripts%}
<!-- Required vendors -->

<script src="{% static 'portal/vendor/global/global.min.js' %}"></script>

<script src="{% static 'portal/vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'portal/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- Form validate init -->
<script src="{% static 'portal/js/plugins-init/jquery.validate-init.js' %}"></script>


<!-- Form Steps -->
<script src="{% static 'portal/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'portalvendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'portal/js/custom.min.js' %}"></script>
<script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
<script src="{% static 'portal/js/demo.js' %}"></script>
<script src="{% static 'portal/js/styleSwitcher.js' %}"></script>
<!-- <script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script> -->
{% endblock scripts %}

