

{% extends 'portal/portal-home.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content_body %}
{% if user.is_authenticated and user.profile.user_type == 'teacher' %}

		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="card-action coin-tabs mb-2">
						
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link"href="{% url 'students:student-pdf' %}">View PDF</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'students:student-csv' %}">Download CSV</a>
							</li>
							<li><div>                 
								{% if messages %}
								{% for message in messages %}
								<div class ="alert alert-{{ message.tags }}">{{ message }}</div>
								{% endfor%}
								{% endif%}
							 </div></li>
		
						</ul>
					</div>
					<div class="d-flex align-items-center mb-2 flex-wrap"> 
						<div class="guest-calendar">
							<div id="reportrange" class="pull-right reportrange" style="width: 100%">
								<span>My Students List</span><b class="caret"></b><br>
                               <b>TOTAL in class : {{my_students.count}}</b> 
								
							</div>
						</div>
						<div class="newest ms-3">
							<!-- <select class="default-select"> -->
								<!-- <option><a href="https://google.com">Teacher's List</a></option> -->
								
							</select>
						</div>	
					</div>
				</div>
<!-- 				
					<button class="btn btn-outline-info" > <a href="{% url 'students:student-pdf' %}">PDF Format</a></button>
					<button class="btn btn-outline-info" > <a href="{% url 'students:student-csv' %}">CSV Format</a></button> -->

						<!-- USING FILTER TO GET INFORMATION -->
							<div class="row">
								<div ">	
									<div>
										<!-- <div style="float:left; padding:4px; width:30%;"> -->
											<div>
												
										</div>
									
									  </div>		

									  <!-- END USING FILTER TO GET INFORMATION -->
													
								</div>
								</div>
							
								<div class="col-xl-12">
									<div class="card">
										
										<div class="card-body p-0">
											<div class="tab-content">	
									<div class="tab-pane active show" id="AllGuest">
										<div class="table-responsive">
											<table class="table card-table display mb-4 shadow-hover default-table table-responsive-lg" id="guestTable-all">
												<thead>
													<tr>
														<th class="bg-none">
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="" id="checkAll">
															</div>
														</th>
														<th>Student ID</th>
														<th>Admin Date</th>
														<th>Badge</th>
														<th>Profile</th>
														<th>Parent</th>
														<th>Status</th>
													
														
													</tr>
												</thead>
												<tbody>
													{% for s in my_students %}
							
													<tr>
														<td>
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="">
															</div>
														</td>
														<td>
															<div class="concierge-bx d-flex align-items-center">
																<img class="me-3 rounded" src="{{s.user.profile.image.url}}" alt="">
																<div>
																	<h5 class="fs-16 mb-0 text-nowrap">
																	<a class="text-black" href="{% url 'students:students-detail' s.pk %}">{{ s.user.username}}- <span style="font-size:9px;, color:grey;">{{s.student_username}}</span></a></h5>
																	<span class="text-primary fs-14">{{ s.first_name}} {{ s.last_name}}</span>
																</div>
															</div>
														</td>
														<td class="text-nowrap">
															<span>{{ s.date_admitted}}</span>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ s.badge}}</h5>
																
															</div>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ s.user.profile.code }}</h5>
																<span></span>
															</div>
														</td>
														<td>
														<div>
															<h5 class="text-nowrap">{{ s.guardian_phone }}</h5>
															<span></span>
														</div>
														
														</td>
														
														<td>
															<div>
																{% if s.student_status == 'active' %}
																<span style="color:green"><b>Active</b></span>		
															
																{% elif s.student_status == 'dropped' %}
																<span style="color:red"><b>Dropped</b></span>	
																{% elif s.student_status == 'graduated' %}
																<span style="color:green"><b>Graduated</b></span>	
																{% elif s.student_status == 'expelled' %}
																<span style="color:grey"><b>Expelled</b></span>	
															</div>
																											
															{% endif %}
														</td>	

														{% endfor %}
													</tr>	
												</tbody>
											</table>
										
											<!-- Page Paginator start -->
											{% if studentlist.has_other_pages %}
											{% if studentlist.has_previous %}
											<a class="btn btn-outline-info mb-4" href="?page={{ studentlist.previous_page_number }}">&laquo;</a>
											{% else %}
											<a class="btn btn-outline-info mb-4" href="">&raquo;</a>
	
											{% endif %}
											{% for i in studentlist.paginator.page_range %}
											{% if studentlist.number == i %}
	
											<a class="btn btn-info mb-4" href="">{{ i }}</a>
											{% else %}
											<a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
											{% endif %}
											{% endfor %}
											{% if studentlist.has_next %}
											<a class="btn btn-outline-info mb-4" href="?page={{ studentlist.next_page_number }}">&raquo;</a>
											{% else %}
											
											<a class="btn btn-outline-info mb-4" href="">&raquo;</a>
											{% endif %}
										
										{% endif %}
										<!-- Page Paginator end -->
     
										</div>	
									</div>	
									
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
{% endif %}

		<!-- ***********************************--> -->



	
		{% endblock content_body %}
		<!--**********************************-->
			
			{% block scripts %}


			<script src="{% static 'portal/vendor/moment/moment.min.js' %}"></script>
    		<script src="{% static 'portal/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
			<script src="{% static 'portal/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
			<script src="{% static 'portal/js/plugins-init/datatables.init.js' %}"></script>
	
			<script src="{% static 'portal/vendor/global/global.min.js' %}"></script>
			<script src="{% static 'portal/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
			
			<!-- Apex Chart -->
				<script src="{% static 'portal/vendor/apexchart/apexchart.js' %}"></script>
			
			<!-- Chart piety plugin files -->
			
				<!-- Dashboard 1 -->
			<script src="{% static 'portal/js/dashboard/dashboard-1.js' %}"></script>
			
			<script src="{% static 'portal/vendor/owl-carousel/owl.carousel.js' %}"></script>
			<script src="{% static 'portal/vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
			<script src="{% static 'portal/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
			
			<script src="{% static 'portal/js/custom.min.js' %}"></script>
			<script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
			<script src="{% static 'portal/js/demo.js' %}"></script>
			<script src="{% static 'portal/js/styleSwitcher.js' %}"></script>

			{% endblock scripts %}