{% extends 'portal/portal-home.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}<title> All Payment List</title>{% endblock title%}

{% block content_body %}
{% if user.is_authenticated and user.is_superuser or user.profile.user_type == "admin" %}
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="card-action coin-tabs mb-2">
						
						<ul class="nav nav-tabs" role="tablist">
							<!-- <li class="nav-item">
								<a class="nav-link"href="{% url 'payment:payment-pdf' %}">View PDF</a>
							</li> -->
							<li class="nav-item">
								<a class="nav-link" href="{% url 'payment:payment-csv' %}">Download CSV (Ms Excel)</a>
							</li>
						</ul>
					</div>
					<div class="d-flex align-items-center mb-2 flex-wrap"> 
						<div class="guest-calendar">
							<div id="reportrange" class="pull-right reportrange" style="width: 100%">
								<span>Payment List</span><b class="caret"></b>
								<i class="fas fa-user ms-3"></i>
							</div>
						</div>
						<div class="newest ms-3">
	
							</select>
						</div>	
					</div>
				</div>

                <!-- USING FILTER TO GET INFORMATION -->
                    <div class="row">
                        <div ">	
                            <div>
                                <!-- <div style="float:left; padding:4px; width:30%;"> -->
                                    <div>
                                        <form action="" method="get">
                                    
                                        <!-- {{ StudentFilter.form|crispy}} -->
                                        {{ paymentlist_filter.form }}
                                        
                                        <button class="btn btn-primary" type="submit">Search </button>
                                    </form>	</div>
                                </div>
                            
                                </div>		

                                <!-- END USING FILTER TO GET INFORMATION -->    

					</div>
					</div>
				
					<div class="col-xl-12">
						<div class="card">
							
							<div class="card-body p-0">
								<div class="tab-content">	
									<div class="tab-pane active show" id="AllGuest">
										<div class="table-responsive">
											<table class="table card-table display mb-4 shadow-hover default-table table-responsive-lg" id="guestTable-all">
												<thead style= "color:green;">
													<tr>
														<th class="bg-none">
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="" id="checkAll">
															</div>
														</th>
														<!-- <th>NO.</th> -->
														<th>STUDENT</th>
														<!-- <th>STUDENT</th> -->
														<!-- <th>DEPOSITOR</th> -->
														<th>TYPE</th>
														<th>FEE DUE</th>
                                                        <th>PAID</th>
														<th>DATE</th>
														<th>STATUS</th>
													</tr>
												</thead>
												<tbody>
													{% for payment in paymentlist %}
							
													<tr>
																												
														<td>
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="">
															</div>
														</td>
														<!-- <td>
															<div>
																{{ forloop.counter }}
															</div>
														</td>	 -->
														<td>
														<span class="fs-16 mb-0 text-nowrap"><a class="text-black" href="">
															<!-- if it is a student that paid -->
															<span>{{ payment.payee.studentdetail.first_name}} {{ payment.payee.studentdetail.last_name}}</span><br>
															{{payment.payee }} <span style="color:red;">{{ payment.payee.studentdetail.current_class}}</span> </a></span>
															<!-- if it is admin or staff that paid -->
															<!-- <span>{{ payment.payee.staffprofile.first_name}} {{ payment.payee.staffprofile.last_name}}</span><br>
															<span>{{ payment.payee.first_name}} {{ payment.payee.last_name}}</span><br> -->
										
																</div>
															</div>
														</td>
														
														<!-- <td class="text-nowrap">
															<!-- if admin or other person paid for students -->
															<!-- <span class="text-nowrap">{{ payment.student_detail.user.username }}</span> --> 
															<!-- if students paid by themselves -->
															<!-- <span class="text-nowrap">{{ payment.payee.studentdetail.user }}</span>
														
														</td> -->
														
														<!-- <td class="text-nowrap">
															
															<span class="text-nowrap">{{ payment.depositor}}</span>
															<span></span>
														
														</td> -->
														<td class="text-nowrap">
															
																<span class="text-nowrap">{{ payment.payment_name.payment_cat}}</span>
																<span></span>
														
														</td>
														{% if payment.discount > 0 %}
														<td class="text-nowrap">
																														
															<span class="text-nowrap">Discounted:<br>{{ payment.discounted_amount_due}}</span>
															<span></span>															
													
													</td>
													{% else %}
														<td class="text-nowrap">
															
															<span class="text-nowrap">{{ payment.payment_name.amount_due}}</span>
															<span></span>														
													
													</td>
													{% endif %}
														<td class="text-nowrap">
															
																<span class="text-nowrap">{{ payment.amount_paid }}
																</span>
																<span></span>
															
														</td>
												
														<td class="text-nowrap">
														
															<span class="text-nowrap">{{ payment.payment_date }}</span>
															<span></span>
																											
														</td>
														
														<td class="text-nowrap">
															<div>
																{% if payment.confirmed == True %}
																<span><i class="far fa-check-circle text-success" style="font-size:20px;"></i></span>		
																{% else %}
																<span><i class="far fa-times-circle text-danger" style="font-size:20px;"></i></span>	
																
																{% endif %}
															</div>
																									
															</td>
															
														</tr>	
														{% endfor %}
												</tbody>
											</table>								
											                                            
										{% if paymentlist.has_other_pages %}
										{% if paymentlist.has_previous %}
										<a class="btn btn-outline-info mb-4" href="?page={{ paymentlist.previous_page_number }}">&laquo;</a>
										{% else %}
										<a class="btn btn-outline-info mb-4" href="">&raquo;</a>

										{% endif %}
										{% for i in paymentlist.paginator.page_range %}
										{% if paymentlist.number == i %}

										<a class="btn btn-info mb-4" href="">{{ i }}</a>
										{% else %}
										<a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
										{% endif %}
										{% endfor %}
										{% if paymentlist.has_next %}
										<a class="btn btn-outline-info mb-4" href="?page={{ paymentlist.next_page_number }}">&raquo;</a>
										{% else %}
										
										<a class="btn btn-outline-info mb-4" href="">&raquo;</a>
										{% endif %}
									
									{% endif %}
									<!-- Page Paginator end -->


										</div>	
									</div>	
		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% endif %}

		<!-- ***********************************--> -->

	
		{% endblock content_body %}
		<!--**********************************-->
			
			{% block scripts %}


			<script src="{% static 'portal/vendor/moment/moment.min.js' %}"></script>
    		<script src="{% static 'portal/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
			<script src="{% static 'portal/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
			<script src="{% static 'portal/js/plugins-init/datatables.init.js' %}"></script>
	


            <script src="{% static 'portal/vendor/global/global.min.js' %}"></script>

            <script src="{% static 'portal/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
            
            <!-- Apex Chart -->
            <script src="{% static 'portal/vendor/apexchart/apexchart.js' %}"></script>
            
            <!-- Chart piety plugin files -->
            <!-- Dashboard 1 -->
            <script src="{% static 'portal/js/dashboard/dashboard-1.js' %}"></script>
            
            <script src="{% static 'portal/vendor/owl-carousel/owl.carousel.js' %}"></script>
            <script src="{% static 'portal/vendor/bootstrap-datetimepicker/js/moment.js' %}"></script>
            <script src="{% static 'portal/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
            
            <script src="{% static 'portal/js/custom.min.js' %}"></script>
            <script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
            <script src="{% static 'portal/js/demo.js' %}"></script>
            <script src="{% static 'portal/js/styleSwitcher.js' %}"></script>

{% endblock scripts %}