{% extends 'portal/portal-home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Students Payment Form </title>{% endblock title %}

{% block content_body %}

<div class="content-body">
   <div class="container-fluid">
       <div class="row page-titles">
           <ol class="breadcrumb">
               <li class="breadcrumb-item active"><a href="javascript:void(0)">Record New Payment</a></li>
               <li class="breadcrumb-item"><a href="#">Online Payment</a></li>
           </ol>
       </div>
       <div class="row">
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                                               
                           
                               {% if messages %}
                               {% for message in messages %}
                               <div class ="alert alert-{{ message.tags }}">{{ message }}</div>
                               {% endfor%}
                               {% endif%}
                           
                        <!-- <h5 class="card-title">Card title45</h5> -->
                    </div>
                    <div class="card-body">
                        <p class="card-text"> <form method="POST" enctype="multipart/form-data" >
                            {% csrf_token %}
   
                        <!-- {{ payment_form|crispy}} -->
                        {{ form|crispy}}
                
                </div>
                <div class="card-footer d-sm-flex justify-content-between align-items-center">

                    <button type="submit" value="submit" class="btn btn-primary">Make Payment</button>
                
                </div>
            </form>
            
                        
                   
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Instruction</h5>
                    </div>
                    <div class="card-body">
                        If you have made payment via any of our payment methods, enter payment
                            in this form with accurate information. Ensure you've checked the payment chart before you proceed</p>
                    BANK DETAILS <br>
                    <a href="javascript:void(0);" class="btn btn-primary">Bank Details</a>
                    {% for b in bank_detail %}
                    {{b.name}}
                    {% endfor %}
                        </div>
                    <div class="card-footer d-sm-flex justify-content-between align-items-center">
                        
                        <a href="javascript:void(0);" class="btn btn-primary">Bank Details</a>
                    </div>
                </div>
            </div>
                    
           </div>
          <!-- <div class="col-xl-8">
               <div class="card">
                   <div class="card-header">
                    <p>If you have made payment via any of our payment methods, enter payment
                        in this form with accurate information. Ensure you've checked the payment chart before you proceed</p>
                    
                       
                           {% if messages %}
                           {% for message in messages %}
                           <div class ="alert alert-{{ message.tags }}">{{ message }}</div>
                           {% endfor%}
                           {% endif%}
                       
                   </div>
            
                   <div class="card-body">
                       <p class="card-text">
                           <form method="POST" enctype="multipart/form-data" >
                               {% csrf_token %}
      
                           <!-- {{ payment_form|crispy}} 
                           {{ form|crispy}}
                   
                   </div>
                   <div class="card-footer d-sm-flex justify-content-between align-items-center">

                       <button type="submit" value="submit" class="btn btn-primary">Make Payment</button>
                   
                   </div>
               </form> -->
               </div>
           </div>
      
         
           </div>
           </div>


       </div>
   </div>
</div>
{% endblock content_body %}


{% block scripts %}
<script src="{% static 'portal/vendor/global/global.min.js' %}"></script>
<script src="{% static 'portal/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'portal/js/custom.min.js' %}"></script>
<script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
<script src="{% static 'portal/js/demo.js' %}"></script>
<script src="{% static 'portal/js/styleSwitcher.js' %}"></script>
{% endblock scripts %}

